#navbar {
  z-index: 9999;
}

@font-face {
  font-family: font1;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: font2;
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

.mr-1 {
  margin-right: 1rem;
}
.ml-90 {
  margin-left: 90px;
}
.w-40 {
  width: 40% !important;
}
.w-20 {
  width: 20% !important;
}

.cl-1 {
  color: #22343d;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.cl-success {
  color: rgb(25, 135, 84);
}
.fs-5 {
  font-size: 1rem;
}
.card {
  border: none !important;
  background-color: transparent !important;
}
.card-body > img {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}
.card-body > img:hover {
  opacity: 1;
  transform: translateY(-10px);
}
/* products */
.bg-img {
  background-image: url("../img/Bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 400px;
}

.bg-img1 {
  background-image: url("../img/Bg1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .card-body > img {
    display: block;
    transition: 0.5s;
    margin: 0 30px !important;
  }
  .card-body > img:hover {
    transform: translateY(8px);
  }
}
@media screen and (max-width: 767px) {
  #top1 {
    margin-top: 150px !important;
  }
  #top2 {
    margin-top: 170px;
  }
}

@media screen and (max-width: 490px) {
  #top1 {
    margin-top: 270px !important;
  }
}
