#navbar {
  z-index: 9999;
}

.mr-1 {
  margin-right: 1rem;
}
.ml-90 {
  margin-left: 90px;
}
.w-40 {
  width: 40% !important;
}
.w-20 {
  width: 20% !important;
}

.cl-1 {
  color: #22343d;
}

.mt-6 {
  margin-top: 6rem !important;
}
.cl-success {
  color: rgb(25, 135, 84);
}
.fs-5 {
  font-size: 1rem;
}
.card {
  border: none !important;
  background-color: transparent !important;
}
.card-body > img {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}
.card-body > img:hover {
  opacity: 1;
  transform: translateY(-10px);
}
/* products */
.bg-img {
  background-image: url("../img/Bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 400px;
}
